<div class="inventory-item">
    <img src="assets/hardware/{{image}}.png">
    <hr>
    <div class="inventory-specs">
        <div><span><img src="assets/icons/name.svg">NAME: </span> {{name}}</div>
        <div><span><img src="assets/icons/device.svg">MODEL:</span> {{model}}</div>
        <div><span><img src="assets/icons/cpu.svg">CPU:  </span> {{cpu}}</div>
        <div><span><img src="assets/icons/arch.svg">ARCH:  </span> {{arch}}</div>
        <div><span><img src="assets/icons/ram.svg">RAM:  </span> {{ram}}</div>
        <div><span><img src="assets/icons/disk.svg">DISK: </span> {{disk}}</div>
        <div><span><img src="assets/icons/amount.svg">AMOUNT:</span> {{amount}}</div>
    </div>
</div>